_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
old_wiki_backup/
# User-specific stuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.DS_Store