include VERSION
include LICENSE
include NOTICE
include *.in
include *.sh
include *.toml
include *.txt
include *.yml
recursive-include aws_orbit *.json
recursive-include aws_orbit *.txt
recursive-include aws_orbit *.sh
recursive-include aws_orbit *.typed
recursive-include aws_orbit *.yaml
recursive-include aws_orbit *.tpl
recursive-include aws_orbit *.helmignore
recursive-include aws_orbit *.py
recursive-include aws_orbit *.zip
recursive-include docs *.md
