---
---

// Breakpoints
$large-breakpoint: 72rem !default;
$medium-breakpoint: 42rem !default;

// Headers
$header-heading-color: #232F3E !default;
$header-text-color: #FFFFFF !default;
$header-bg-color: #f1f4f6 !default;
$menu-bg-color: #BBC0C1 !default;


// Text
$section-headings-color: #232F3E !default;
$body-text-color: #757575 !default;
$body-link-color:#00a1c9 !default;
$smile: #ff9900 !default;


// Code
$code-bg-color: #f3f6fa !default;
$code-text-color: #567482 !default;

// Borders
$border-color: #ced4d5 !default;

// Buttons
$btn-border-color: #232F3E !default;
$btn-background-color: #232F3E11 !default;
$btn-color: #232F3EEE !default;

$btn-border-color-hover: #232F3E !default;
$btn-background-color-hover: #232F3E33 !default;
$btn-color-hover: #232F3E !default;


@import "{{ site.theme }}";

@font-face {
  font-family: 'Amazon Ember';
  src: url(/aws-orbit-workbench/assets/font/amazon_ember/AmazonEmber_Lt.ttf) format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: 'Amazon Ember';
  src: url(/aws-orbit-workbench/assets/font/amazon_ember/AmazonEmber_Rg.ttf) format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: 'Amazon Ember';
  src: url(/aws-orbit-workbench/assets/font/amazon_ember/AmazonEmber_Bd.ttf) format("truetype");
  font-weight: 500;
}

body {
  font-family: "Amazon Ember";
}

.default-content {
  margin-top: 46px;
}

h1 {
  color: $header-heading-color;
}

h2 {
  font-weight: 200;
}

.squid-background {
  background-color: $header-heading-color;
}

@media screen and (min-width: $large-breakpoint) {
  .page-banner {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-left: auto;
    margin-right: auto;
    max-width: $large-breakpoint;
  }
  .main-content {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
    max-width: $large-breakpoint;
  }
  .divider {
    margin-left: auto;
    margin-right: auto;
    max-width: $large-breakpoint;
    border-top: 1px solid $border-color
  }
}

@media screen and (min-width: $medium-breakpoint) and (max-width: $large-breakpoint) {
  .page-banner {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-left: auto;
    margin-right: auto;
    max-width: $medium-breakpoint;
  }
  .main-content {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
    max-width: $medium-breakpoint;
  }
  .divider {
    margin-left: auto;
    margin-right: auto;
    max-width: $medium-breakpoint;
    border-top: 1px solid $border-color
  }
}

.image-container :first-child {
  margin-top: 4px;
}

.header-container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
}


.header-title  {
  color: $header-text-color;
  font-weight: 500;
  font-size: 44px;
}

.header-desc  {
  color: $header-text-color;
  font-weight: 200;
  font-size: 20px;
}

.title-container {
  display: flex;
  flex-direction: column;
  margin-left: 3rem;
}


.main-areas {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

a.box-link {
  text-decoration: none;
  color: $body-text-color;
}

.box {
  border: solid 1px $border-color;
  border-top-width: 0;
  width: 220px;
  display: flex;
  flex-direction: column;
}


.box h3 {
  margin-top: 0;
}

.box h5 {
  margin-top: 1rem;
}

.box-content {
  text-align: center;
  padding: 1rem;
}

.box-top {
  border: solid 1px $header-heading-color;
  width: 100%;
  height: 4px;
  background-color: $header-heading-color;
}

.icon {
  height: 90px;
  width: 90px;
}

.btn-div {
  text-align: center;
}

.btn {
  border-color: $btn-border-color;
  color: $btn-color;
  background-color: $btn-background-color;
}

.btn:hover {
  border-color: $btn-border-color-hover;
  color: $btn-color-hover;
  background-color: $btn-background-color-hover;
}

a.feature-link {
  text-decoration: none;
}

.feature-box {
  display: flex;
  width: 250px;
  border: solid 1px $border-color;
  padding: 1rem;
  align-items: center;
  margin: 5px
}

.feature-header div:first-of-type {
  margin-top: 5px
}

.feature-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-items: flex-start;
  margin-bottom: 2rem;
}

.feature-image {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feature-title {
  margin-left: 10px;
}

.feature-title h4 {
  margin: 0;
  font-weight: 100;
}

.grey-background {
  background-color: $header-bg-color;
}

.benefit-box {
  width: 260px;
}

.benefit-box > h4 {
  margin-bottom: 0;
}

.benefit-box > h5 {
  margin-top: 8px;
  color: $body-text-color
}

.light-grey-background {
  background-color: $header-bg-color;
}

.generic-header-title {
  color: $section-headings-color;
}

.menu-bar {
  max-width: $large-breakpoint;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}


.menu-background {
  background-color: $menu-bg-color;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 9999;
}

nav a {
  text-decoration: none;
}

nav ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

nav li {
  color: $header-heading-color;
  display: block;
  float: left;
  padding: 0.7rem;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
}

nav li a {
  color: $header-heading-color;
}

nav li:hover,
nav li:focus-within {
  color: $body-link-color;
  cursor: pointer;
  transition-duration: 0.5s;
}

nav li:focus-within a {
  outline: none;
  color: $body-link-color;
  text-decoration: none;
}

nav li:hover a {
  color: $body-link-color;
  transition-duration: 0.5s;
  text-decoration: none;
}

nav ul li:hover ul li a {
  color: $header-heading-color;
  transition-duration: 0.5s;
  text-decoration: none;
}

nav ul li:hover ul li:hover a {
  color: $body-link-color;
  transition-duration: 0.5s;
  text-decoration: none;
}

nav ul li ul {
  background: $menu-bg-color;
  visibility: hidden;
  opacity: 0;
  min-width: 5rem;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
  left: 0;
  display: none;
}


nav ul li:hover > ul,
nav ul li:focus-within > ul,
nav ul li ul:hover,
nav ul li ul:focus {
  visibility: visible;
  opacity: 1;
  display: block;
  animation: fadeIn linear 0.25s;
  -webkit-animation: fadeIn linear 0.25s;
  -moz-animation: fadeIn linear 0.25s;
  -o-animation: fadeIn linear 0.25s;
  -ms-animation: fadeIn linear 0.25s;
}

.nav-title {
  font-weight: 500;
  font-size: 1rem;
}

.nav-item {
  font-weight: 400;
  font-size: 0.9rem;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

nav ul li ul li {
  clear: both;
  width: 100%;
}

.documentation {
  display: flex;
}

.documentation-content {
  padding: 2rem;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #D5DBDB;
  background-color: #FAFAFA;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 14px;
  color: $body-link-color
}

/* Change background color of buttons on hover */
.tab button:hover {
  color: $smile;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #fff;
  color: $smile;
  border-top: 1px solid $smile;
  border-left: 1px solid #D5DBDB;
  border-right: 1px solid #D5DBDB;
}

.tab button:first-child.active {
  border-left: none;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #D5DBDB;
  border-top: none;
  text-align: center;
}

.integration-header {
  display: flex;
}

.integration-title {
  margin-left: 12px;
}