---
layout: default
---
<div>
    <div class="squid-background">
        <section class="main-content">
            <div></div>
            <div class="header-container">
                <div class="image-container">
                    <img width="120px" alt="Orbit Logo" src="img/orbitlogo.png"/>
                </div>
                <div class="title-container">
                    <div class="header-title">{{ site.title }}</div>
                    <div class="header-desc">{{ site.description }}</div>
                </div>
            </div>
        </section>
    </div>
    <section class="main-content">
        {{ content }}
    </section>
    <section class="main-content">
        <div class="main-areas">
            <a class="box-link" href="tour">
                <div class="box">
                    <div class="box-top"></div>
                    <div class="box-content">
                        <span class="iconify icon" data-icon="la:map-signs" data-inline="false"></span>
                        <h3>Tour</h3>
                        <h5>Discover the main features of AWS Orbit Workbench</h5>
                    </div>
                </div>
            </a>
            <div class="box">
                <div class="box-top"></div>
                <div class="box-content">
                    <span class="iconify icon" data-icon="la:code-branch" data-inline="false"></span>
                    <h3>Installation</h3>
                    <h5>How to install AWS Orbit Workbench</h5>
                </div>
            </div>
            <div class="box">
                <div class="box-top"></div>
                <div class="box-content">
                    <span class="iconify icon" data-icon="la:chalkboard-teacher" data-inline="false"></span>
                    <h3>Tutorials</h3>
                    <h5>Learn how to use AWS Orbit Workbench with our how to guides</h5>
                </div>
            </div>
            <a class="box-link" href="documentation">
            <div class="box">
                <div class="box-top"></div>
                <div class="box-content">
                    <span class="iconify icon" data-icon="la:book" data-inline="false"></span>
                    <h3>Documentation</h3>
                    <h5>View the AWS Orbit Workbench documentation</h5>
                </div>
            </div>
            </a>
        </div>
    </section>

    <section class="main-content">
        <div class="btn-div">
            {% if site.github.is_project_page %}
            <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
            {% endif %}
            {% if site.show_downloads %}
            <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
            <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
            {% endif %}
        </div>
    </section>
    <div class="grey-background">
        <section class="main-content">
            <h2>Benefits</h2>
            <div class="main-areas">
                <div class="benefit-box">
                    <h4>Work efficiently</h4>
                    <h5>Leverage AWS analytical and machine learning services from a single environment to efficiently
                        work on data-driven projects.</h5>
                </div>
                <div class="benefit-box">
                    <h4>Securely collaborate</h4>
                    <h5>Work with your team in a secure environment that manages access to the data and resources you
                        need to get the job done.</h5>
                </div>
                <div class="benefit-box">
                    <h4>Quickly move to production</h4>
                    <h5>Scale instantly by running your workloads on a Kubernetes cluster.</h5>
                </div>
                <div class="benefit-box">
                    <h4>Easily extend</h4>
                    <h5>Add extra integrations to any service through the pluggable architecture</h5>
                </div>
            </div>
        </section>
    </div>

    <section class="main-content">
        <h2 id="integrations">Integrations</h2>

        {% include integrations.html %}

    </section>
    <section class="main-content">

        <footer class="site-footer">
            {% if site.github.is_project_page %}
            <span class="site-footer-owner"><a
                    href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a
                    href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
            {% endif %}
            <span class="site-footer-credits">This page was generated by <a
                    href="https://pages.github.com">GitHub Pages</a>.</span>
        </footer>
    </section>


</div>
