name: Static Checking

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:

  CLI:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.6]
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}
      - name: Create Virtual Environment
        run: |
          cd cli
          python -m venv .venv
          source .venv/bin/activate
      - name: Install Requirements
        run: pip install -r requirements-dev.txt
      - name: Mypy Check
        run: mypy --python-version 3.6 --strict --ignore-missing-imports setup.py datamaker_cli
      - name: Flake8 Check
        run: flake8 --max-line-length 120 setup.py datamaker_cli
      - name: Black Check
        run: black --check --line-length 120 --target-version py36 setup.py datamaker_cli
      - name: Isort Check
        run: isort --check-only --line-length 120 setup.py datamaker_cli
      - name: CloudFormation Lint
        run: cfn-lint -i E1029,E3031 -- datamaker_cli/data/toolkit/template.yaml
      - name: Deactivate Virtual Environment
        run: deactivate
